<!--The content below is only a placeholder and can be replaced.-->
<div>
 
  <head>
  <style>




     .element {
      box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
      max-width: 1000px;
      margin: auto;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      padding-top: 0px;
      padding-right: 30px;
      padding-bottom: 130px;
      padding-left: 30px;
      font-size:140%
     }
    
    .space {
      padding-top: 40px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 40px;
    }
   
  </style>
  </head>
    
</div>

<!-- <div class= "card">

    <h1 style="font-size: 150%" > <img src="https://banner2.kisspng.com/20180708/w/kisspng-wipro-logo-business-corporate-identity-5b420d04296d14.4683181615310553641697.jpg" alt="Wipro logo" style="width:60px;height:40px;">
    XFS | Digital Rig </h1>
  
</div> -->
 <app-nav-bar></app-nav-bar>

  <div class= "space"></div>
<div class= "element">
   <h2 style="font-size:120%; text-align: center; font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> <b>Jenkin's Build Status</b> </h2><br>
<b>Commiter's Name</b> : {{dash.commiter}}<br>
<b>Title of the job</b> : {{dash.jobtitle}}<br>
<b>Build Number</b> : {{dash.number}}<br>
<b>Build Status</b> : {{dash.status}}<br>
<b>Build Url</b> : {{link}}<br>
  </div>
  

<!-- <div class="footer">
  <p > <b>Team KSR </b></p> 
  <p style="text-align: centre; font-size:80%"> SupremoAnkush, Nitin kundu, Ashish Singh, Manisha Sarangi, Bizeet Dey, Sudipa Behra, Samlee Mohanty</p> 
</div> -->
<app-refresh></app-refresh>
<app-footer></app-footer>

<router-outlet></router-outlet>