.card {
    box-shadow: 0 6px 10px 0 rgba(95, 84, 179, 0.644); 
   /* text-align: left; */
   font-family: arial;
   font-size: 100%;
   top: 0px;
   height: 50px;
   /* background-color: rgb(252, 248, 248); */
   padding-top:8px;
   font-size: 100%;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-left: 20px;
  }